/* line 34, ../sass/screen.scss */
.wrap, .header .header-i, .main-section .main-section-i, .footer .footer-i {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

/* line 49, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 54, ../sass/screen.scss */
body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

/* line 63, ../sass/screen.scss */
.header {
  min-width: 960px;
  background-image: url(img/background-header.png);
  background-repeat: repeat-x;
}
/* line 68, ../sass/screen.scss */
.header .header-i {
  overflow: hidden;
}
/* line 73, ../sass/screen.scss */
.header .header__content {
  height: 185px;
  overflow: hidden;
}
/* line 78, ../sass/screen.scss */
.header .header__meta-content {
  display: flex;
  height: 50%;
}
/* line 83, ../sass/screen.scss */
.header .header__helper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px 50px 0 0;
}
/* line 90, ../sass/screen.scss */
.header .header__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7B3801;
  margin-bottom: 5px;
}
/* line 98, ../sass/screen.scss */
.header .header__delivery {
  font-size: 18px;
  color: #7B3801;
}
/* line 103, ../sass/screen.scss */
.header .header__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
/* line 110, ../sass/screen.scss */
.header .header__phone {
  overflow: hidden;
  white-space: nowrap;
}
/* line 115, ../sass/screen.scss */
.header .header__phone-link {
  text-decoration: none;
  font-size: 25px;
  color: #7B3801;
  font-weight: bold;
}
/* line 122, ../sass/screen.scss */
.header .header__mail-link {
  text-decoration: none;
  color: #7B3801;
}
/* line 129, ../sass/screen.scss */
.header .header__mail-link {
  text-decoration: none;
  color: #7B3801;
  font-size: 18px;
  border-bottom: 1px solid #7B3801;
}
/* line 136, ../sass/screen.scss */
.header .header__nav {
  height: 50%;
  display: flex;
  align-items: center;
}
/* line 142, ../sass/screen.scss */
.header .header__link {
  padding: 10px 0 0 0;
  text-decoration: none;
  border-bottom: 1px solid #24CF91;
  color: #24CF91;
  margin: 0 25px 0 0;
  white-space: nowrap;
}
/* line 150, ../sass/screen.scss */
.header .header__link.header__link:hover {
  color: #7B3801;
  border-bottom: none;
}
/* line 155, ../sass/screen.scss */
.header .header__link.header__nav-link_active {
  color: #7B3801;
  border-bottom: none;
}

/* line 162, ../sass/screen.scss */
.logo {
  text-decoration: none;
}
/* line 165, ../sass/screen.scss */
.logo .kupel {
  margin: 20px 40px 0;
}

/* line 170, ../sass/screen.scss */
.header__nav {
  padding: 10px 0 0 0;
  text-decoration: none;
  border-bottom: 1px solid #24CF91;
  color: #24CF91;
  margin: 0 25px 0 0;
  white-space: nowrap;
}

/* line 179, ../sass/screen.scss */
.header__nav-link:hover {
  color: #7B3801;
  border-bottom: none;
}

/* line 184, ../sass/screen.scss */
.header__nav-link_active {
  color: #7B3801;
  border-bottom: none;
}

/* line 195, ../sass/screen.scss */
.main-section {
  min-width: 960px;
  background-image: url(img/background-bar.png);
  background-size: cover;
}
/* line 200, ../sass/screen.scss */
.main-section .main-section-i {
  min-height: 670px;
  overflow: hidden;
  padding-top: 40px;
  align-items: flex-start;
}
/* line 208, ../sass/screen.scss */
.main-section .main-section__menu {
  width: 220px;
  border-radius: 5px;
  background: #FBFBFB;
  margin: 0 10px 40px;
}
/* line 215, ../sass/screen.scss */
.main-section .main-section__list {
  text-align: center;
}
/* line 219, ../sass/screen.scss */
.main-section .main-section__item {
  list-style-type: none;
}
/* line 223, ../sass/screen.scss */
.main-section .main-section__link {
  text-decoration: none;
  color: #7B3801;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 18px 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #EDE4DB;
}
/* line 233, ../sass/screen.scss */
.main-section .main-section__link:hover {
  background: linear-gradient(to top, #FFE5E1, #FFF);
  color: #951808;
}
/* line 238, ../sass/screen.scss */
.main-section .main-section__link.main-section__link_active {
  background: linear-gradient(to top, #FFE5E1, #FFF);
  color: #951808;
}
/* line 244, ../sass/screen.scss */
.main-section .main-section__search {
  border: 1px solid #FA624D;
  text-decoration: none;
  color: #FDBBB4;
  padding: 5px 0 5px 25px;
  border-radius: 20px;
  margin: 20px 0;
  text-align: left;
  font-size: 14px;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: 4px;
  outline: none;
}

/* line 260, ../sass/screen.scss */
.product {
  background: #fff;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px 5px;
}

/* line 269, ../sass/screen.scss */
.conteiner-test {
  background: #24CF91;
  border-radius: 05px 5px;
}

/* line 299, ../sass/screen.scss */
.footer {
  background-image: url(img/background-footer.png);
  background-repeat: repeat-x;
  min-width: 960px;
}
/* line 304, ../sass/screen.scss */
.footer .footer-i {
  flex-wrap: wrap;
  align-content: space-between;
}
/* line 310, ../sass/screen.scss */
.footer .footer__payment {
  margin: 20px 80px 0 5px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 24px;
  color: #7B3801;
}
/* line 318, ../sass/screen.scss */
.footer .footer__requisites {
  margin: 20px 80px 0 5px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 24px;
  color: #7B3801;
}
/* line 326, ../sass/screen.scss */
.footer .footer__title {
  font-weight: bold;
  font-size: 14px;
}
/* line 331, ../sass/screen.scss */
.footer .footer__contact {
  margin: 25px 0 70px;
}
/* line 335, ../sass/screen.scss */
.footer .footer__phone-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #7B3801;
  font-weight: bold;
}
/* line 344, ../sass/screen.scss */
.footer .footer__mail-link {
  text-decoration: none;
  font-size: 14px;
  color: #7B3801;
}
/* line 351, ../sass/screen.scss */
.footer .footer__development {
  width: 100%;
  text-align: right;
  margin: 0 0 20px 0;
  color: #7B3801;
}
/* line 358, ../sass/screen.scss */
.footer .footer__designation {
  font-weight: bold;
  color: #7B3801;
  border-bottom: 1px solid #7B3801;
}
