/* line 28, ../sass/screen.scss */
.wrap, .header .header-i, .row .row-i, .footer .footer-i {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

/* line 43, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 48, ../sass/screen.scss */
body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

/* line 57, ../sass/screen.scss */
.header {
  min-width: 960px;
  background-image: url(img/background-header.png);
  background-repeat: repeat-x;
}
/* line 62, ../sass/screen.scss */
.header .header-i {
  overflow: hidden;
}
/* line 67, ../sass/screen.scss */
.header .header__content {
  height: 185px;
  overflow: hidden;
}
/* line 72, ../sass/screen.scss */
.header .header__meta-content {
  display: flex;
  height: 50%;
}
/* line 77, ../sass/screen.scss */
.header .header__helper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px 50px 0 0;
}
/* line 84, ../sass/screen.scss */
.header .header__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7B3801;
  margin-bottom: 5px;
}
/* line 92, ../sass/screen.scss */
.header .header__delivery {
  font-size: 18px;
  color: #7B3801;
}
/* line 97, ../sass/screen.scss */
.header .header__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
/* line 104, ../sass/screen.scss */
.header .header__phone {
  overflow: hidden;
  white-space: nowrap;
}
/* line 109, ../sass/screen.scss */
.header .header__phone-link {
  text-decoration: none;
  font-size: 25px;
  color: #7B3801;
  font-weight: bold;
}
/* line 116, ../sass/screen.scss */
.header .header__mail-link {
  text-decoration: none;
  color: #7B3801;
}
/* line 123, ../sass/screen.scss */
.header .header__mail-link {
  text-decoration: none;
  color: #7B3801;
  font-size: 18px;
  border-bottom: 1px solid #7B3801;
}
/* line 130, ../sass/screen.scss */
.header .header__nav {
  height: 50%;
  display: flex;
  align-items: center;
}
/* line 136, ../sass/screen.scss */
.header .header__link {
  padding: 10px 0 0 0;
  text-decoration: none;
  border-bottom: 1px solid #24CF91;
  color: #24CF91;
  margin: 0 25px 0 0;
  white-space: nowrap;
}
/* line 144, ../sass/screen.scss */
.header .header__link.header__link:hover {
  color: #7B3801;
  border-bottom: none;
}
/* line 149, ../sass/screen.scss */
.header .header__link.header__nav-link_active {
  color: #7B3801;
  border-bottom: none;
}

/* line 156, ../sass/screen.scss */
.logo {
  text-decoration: none;
}
/* line 159, ../sass/screen.scss */
.logo .kupel {
  margin: 20px 40px 0;
}

/* line 168, ../sass/screen.scss */
.row {
  min-width: 960px;
  background-image: url(img/background-bar.png);
  background-size: cover;
}
/* line 173, ../sass/screen.scss */
.row .row-i {
  padding-top: 40px;
}
/* line 178, ../sass/screen.scss */
.row .row-i .col1 .menu {
  width: 220px;
  border-radius: 5px;
  background: #FBFBFB;
  margin: 0 10px 40px;
}
/* line 185, ../sass/screen.scss */
.row .row-i .col1 .menu__list {
  text-align: center;
}
/* line 189, ../sass/screen.scss */
.row .row-i .col1 .menu__item {
  list-style-type: none;
}
/* line 193, ../sass/screen.scss */
.row .row-i .col1 .menu__link {
  text-decoration: none;
  color: #7B3801;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 18px 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #EDE4DB;
}
/* line 203, ../sass/screen.scss */
.row .row-i .col1 .menu__link:hover {
  background: linear-gradient(to top, #FFE5E1, #FFF);
  color: #951808;
}
/* line 208, ../sass/screen.scss */
.row .row-i .col1 .menu__link.menu__link_active {
  background: linear-gradient(to top, #FFE5E1, #FFF);
  color: #951808;
}
/* line 214, ../sass/screen.scss */
.row .row-i .col1 .menu__search {
  border: 1px solid #FA624D;
  text-decoration: none;
  color: #FDBBB4;
  padding: 5px 0 5px 25px;
  border-radius: 20px;
  margin: 20px 0;
  text-align: left;
  font-size: 14px;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: 4px;
  outline: none;
}

/* line 233, ../sass/screen.scss */
.col2 {
  margin: 0 10px;
  width: 540px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 241, ../sass/screen.scss */
.col2 .product {
  background: #fff;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px 5px;
  margin: 0 0px;
  width: 170px;
}
/* line 253, ../sass/screen.scss */
.col2 .product .product__barell {
  margin-bottom: 10px;
}
/* line 257, ../sass/screen.scss */
.col2 .product .product__price {
  color: #7B3801;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 20px;
}
/* line 265, ../sass/screen.scss */
.col2 .product .product__acquisition {
  background: #24CF91;
  border-radius: 0 0 5px 5px;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 274, ../sass/screen.scss */
.col2 .product .product__description {
  color: white;
  font-size: 16px;
  margin: 20px 10px 0;
  white-space: nowrap;
  overflow: hidden;
}
/* line 286, ../sass/screen.scss */
.col2 .product .product__bottom {
  display: inline-block;
  text-decoration: none;
  background: #FA6F04;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #B94E01;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 0 10px 0;
  font-size: 14px;
}
/* line 300, ../sass/screen.scss */
.col2 .product .product__bottom.product__bottom:hover {
  color: white;
  background: #EB922B;
}
/* line 307, ../sass/screen.scss */
.col2 .galerei {
  margin: 25px 0;
}
/* line 310, ../sass/screen.scss */
.col2 .galerei .kupel {
  width: 520px;
  height: 270px;
  border: 10px solid rgba(0, 0, 0, 0.5);
}

/* line 323, ../sass/screen.scss */
.col3 .basked .basked__name {
  background: #ff4d4d;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
/* line 328, ../sass/screen.scss */
.col3 .basked .basked__title {
  color: #fff;
  font-weight: bold;
  border-bottom: 2px double white;
}
/* line 336, ../sass/screen.scss */
.col3 .basked .basked__list {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}
/* line 341, ../sass/screen.scss */
.col3 .basked .basked__item {
  color: #7B3801;
  border-bottom: 1px solid red;
  margin-bottom: 5px;
}
/* line 346, ../sass/screen.scss */
.col3 .basked .basked__total {
  color: #7B3801;
  text-align: center;
  border-top: 1px solid red;
}
/* line 351, ../sass/screen.scss */
.col3 .basked .basked__wrap-bottom {
  text-align: center;
}
/* line 355, ../sass/screen.scss */
.col3 .basked .basked__bottom {
  display: inline-block;
  text-decoration: none;
  background: #FA6F04;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #B94E01;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 0 10px 0;
  font-size: 14px;
}

/* line 386, ../sass/screen.scss */
.footer {
  background-image: url(img/background-footer.png);
  background-repeat: repeat-x;
  min-width: 960px;
}
/* line 391, ../sass/screen.scss */
.footer .footer-i {
  flex-wrap: wrap;
  align-content: space-between;
}
/* line 397, ../sass/screen.scss */
.footer .footer__payment {
  margin: 20px 80px 0 10px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 24px;
  color: #7B3801;
}
/* line 405, ../sass/screen.scss */
.footer .footer__title-payment {
  font-weight: bold;
  font-size: 14px;
}
/* line 410, ../sass/screen.scss */
.footer .footer__requisites {
  margin: 20px 80px 0 5px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 24px;
  color: #7B3801;
}
/* line 418, ../sass/screen.scss */
.footer .footer__title-requisites {
  font-weight: bold;
  font-size: 14px;
}
/* line 423, ../sass/screen.scss */
.footer .footer__contact {
  margin: 25px 0 70px;
}
/* line 427, ../sass/screen.scss */
.footer .footer__phone-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #7B3801;
  font-weight: bold;
}
/* line 436, ../sass/screen.scss */
.footer .footer__mail-link {
  text-decoration: none;
  font-size: 14px;
  color: #7B3801;
}
/* line 443, ../sass/screen.scss */
.footer .footer__development {
  width: 100%;
  text-align: right;
  margin: 0 0 20px 0;
  color: #7B3801;
}
/* line 450, ../sass/screen.scss */
.footer .footer__designation {
  font-weight: bold;
  color: #7B3801;
  border-bottom: 1px solid #7B3801;
}
