/* line 28, ../sass/screen.scss */
.wrap, .header .header-i, .main-section .main-section-i, .footer .footer-i {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

/* line 43, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 48, ../sass/screen.scss */
body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

/* line 57, ../sass/screen.scss */
.header {
  min-width: 960px;
  background-image: url(img/background-header.png);
  background-repeat: repeat-x;
}
/* line 62, ../sass/screen.scss */
.header .header-i {
  overflow: hidden;
}
/* line 67, ../sass/screen.scss */
.header .header__content {
  height: 185px;
  overflow: hidden;
}
/* line 72, ../sass/screen.scss */
.header .header__meta-content {
  display: flex;
  height: 50%;
}
/* line 77, ../sass/screen.scss */
.header .header__helper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px 50px 0 0;
}
/* line 84, ../sass/screen.scss */
.header .header__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7B3801;
  margin-bottom: 5px;
}
/* line 92, ../sass/screen.scss */
.header .header__delivery {
  font-size: 18px;
  color: #7B3801;
}
/* line 97, ../sass/screen.scss */
.header .header__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
/* line 104, ../sass/screen.scss */
.header .header__phone {
  overflow: hidden;
  white-space: nowrap;
}
/* line 109, ../sass/screen.scss */
.header .header__phone-link {
  text-decoration: none;
  font-size: 25px;
  color: #7B3801;
  font-weight: bold;
}
/* line 116, ../sass/screen.scss */
.header .header__mail-link {
  text-decoration: none;
  color: #7B3801;
}
/* line 123, ../sass/screen.scss */
.header .header__mail-link {
  text-decoration: none;
  color: #7B3801;
  font-size: 18px;
  border-bottom: 1px solid #7B3801;
}
/* line 130, ../sass/screen.scss */
.header .header__nav {
  height: 50%;
  display: flex;
  align-items: center;
}
/* line 136, ../sass/screen.scss */
.header .header__link {
  padding: 10px 0 0 0;
  text-decoration: none;
  border-bottom: 1px solid #24CF91;
  color: #24CF91;
  margin: 0 25px 0 0;
  white-space: nowrap;
}
/* line 144, ../sass/screen.scss */
.header .header__link.header__link:hover {
  color: #7B3801;
  border-bottom: none;
}
/* line 149, ../sass/screen.scss */
.header .header__link.header__nav-link_active {
  color: #7B3801;
  border-bottom: none;
}

/* line 156, ../sass/screen.scss */
.logo {
  text-decoration: none;
}
/* line 159, ../sass/screen.scss */
.logo .kupel {
  margin: 20px 40px 0;
}

/* line 168, ../sass/screen.scss */
.main-section {
  min-width: 960px;
  background-image: url(img/background-bar.png);
  background-size: cover;
}
/* line 173, ../sass/screen.scss */
.main-section .main-section-i {
  min-height: 670px;
  overflow: hidden;
  padding-top: 40px;
  align-items: flex-start;
}
/* line 181, ../sass/screen.scss */
.main-section .main-section__menu {
  width: 220px;
  border-radius: 5px;
  background: #FBFBFB;
  margin: 0 10px 40px;
}
/* line 188, ../sass/screen.scss */
.main-section .main-section__list {
  text-align: center;
}
/* line 192, ../sass/screen.scss */
.main-section .main-section__item {
  list-style-type: none;
}
/* line 196, ../sass/screen.scss */
.main-section .main-section__link {
  text-decoration: none;
  color: #7B3801;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 18px 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #EDE4DB;
}
/* line 206, ../sass/screen.scss */
.main-section .main-section__link:hover {
  background: linear-gradient(to top, #FFE5E1, #FFF);
  color: #951808;
}
/* line 211, ../sass/screen.scss */
.main-section .main-section__link.main-section__link_active {
  background: linear-gradient(to top, #FFE5E1, #FFF);
  color: #951808;
}
/* line 217, ../sass/screen.scss */
.main-section .main-section__search {
  border: 1px solid #FA624D;
  text-decoration: none;
  color: #FDBBB4;
  padding: 5px 0 5px 25px;
  border-radius: 20px;
  margin: 20px 0;
  text-align: left;
  font-size: 14px;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: 4px;
  outline: none;
}

/* line 233, ../sass/screen.scss */
.product {
  background: #fff;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px 5px;
  margin-right: 10px;
}
/* line 244, ../sass/screen.scss */
.product .product__barell {
  margin-bottom: 10px;
}
/* line 248, ../sass/screen.scss */
.product .product__price {
  color: #7B3801;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
}
/* line 256, ../sass/screen.scss */
.product .product__acquisition {
  background: #24CF91;
  border-radius: 0 0 5px 5px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 265, ../sass/screen.scss */
.product .product__description {
  color: white;
  margin: 15px 0 0 0;
}
/* line 270, ../sass/screen.scss */
.product .product__wrap-bottom {
  margin: 0 0 10px;
}
/* line 274, ../sass/screen.scss */
.product .product__bottom {
  display: inline-block;
  text-decoration: none;
  background: #FA6F04;
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
  margin: 0 0 0 0;
  border: 1px solid #B94E01;
  font-weight: bold;
}
/* line 285, ../sass/screen.scss */
.product .product__bottom.product__bottom:hover {
  color: white;
  background: #EB922B;
}

/* line 311, ../sass/screen.scss */
.footer {
  background-image: url(img/background-footer.png);
  background-repeat: repeat-x;
  min-width: 960px;
}
/* line 316, ../sass/screen.scss */
.footer .footer-i {
  flex-wrap: wrap;
  align-content: space-between;
}
/* line 322, ../sass/screen.scss */
.footer .footer__payment {
  margin: 20px 80px 0 10px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 24px;
  color: #7B3801;
}
/* line 330, ../sass/screen.scss */
.footer .footer__title-payment {
  font-weight: bold;
  font-size: 14px;
}
/* line 335, ../sass/screen.scss */
.footer .footer__requisites {
  margin: 20px 80px 0 5px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 24px;
  color: #7B3801;
}
/* line 343, ../sass/screen.scss */
.footer .footer__title-requisites {
  font-weight: bold;
  font-size: 14px;
}
/* line 348, ../sass/screen.scss */
.footer .footer__contact {
  margin: 25px 0 70px;
}
/* line 352, ../sass/screen.scss */
.footer .footer__phone-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #7B3801;
  font-weight: bold;
}
/* line 361, ../sass/screen.scss */
.footer .footer__mail-link {
  text-decoration: none;
  font-size: 14px;
  color: #7B3801;
}
/* line 368, ../sass/screen.scss */
.footer .footer__development {
  width: 100%;
  text-align: right;
  margin: 0 0 20px 0;
  color: #7B3801;
}
/* line 375, ../sass/screen.scss */
.footer .footer__designation {
  font-weight: bold;
  color: #7B3801;
  border-bottom: 1px solid #7B3801;
}
