//
// Variables (размеры шрифтов, line height, цвета, )
//  _____________________________________________

$site__width:			   960px;

$font-size__base:			14px;
$font-size__s:				12px;
$font-size__m:				14px;
$font-size__l:				16px;
$font-size__xl:				18px;
$font-size__xxl:			20px;
$font-size__xxxl:			25px;

$line-height__base:			16px;
$line-height__s:			14px;
$line-height__m:			18px;
$line-height__l:			20px;
$line-height__xl:			22px;
$line-height__xxl:			24px;

$color__danger:          #7B3801;
$color__dangerous:       #951808;
$color__success:	     #24CF91;
$color__warning:		 #FA6F04;
$color__default:		   white;

.wrap {
    width:                 960px;
    margin:               0 auto;
    display:                flex;
}

.wrap {
    @extend .wrap;
}


//
// Common Styles ()
//  _____________________________________________

* {
	margin:                    0;
	padding:                   0;
}

body {
	font-family: 'Arial', 'Helvetica', sans-serif;
}


//
// Block Header
//  _____________________________________________

.header {
    min-width:                     960px;
    background-image: url(img/background-header.png);
    background-repeat:          repeat-x;

    .header-i {
        @extend .wrap;
        overflow:                 hidden;
    }

    .header__content {
        height:                    185px;
        overflow:                 hidden;
    }

    .header__meta-content {
        display:                    flex;
        height:                      50%;
    }

    .header__helper {
        display:                    flex;
        flex-direction:           column;
        flex-wrap:                nowrap;
        margin:            10px 50px 0 0;
    }

    .header__title {
        font-size:        $font-size__xl;
        text-transform:        uppercase;
        font-weight:                 700;
        color:            $color__danger;
        margin-bottom:               5px;
    }

    .header__delivery {
        font-size:        $font-size__xl;
        color:            $color__danger;
    }

    .header__contact {
        display:                    flex;
        flex-direction:           column;
        justify-content:   space-between;
        margin:                     10px;
    }

    .header__phone {
        overflow:                 hidden;
        white-space:              nowrap;
    }

    .header__phone-link {
        text-decoration:            none;
        font-size:      $font-size__xxxl;
        color:            $color__danger;
        font-weight:                bold;
    }

    .header__mail-link {
        text-decoration:            none;
        color:            $color__danger;
    }

    .header__mail { }

    .header__mail-link {
        text-decoration:            none;
        color:             $color__danger;
        font-size:        $font-size__xl;
        border-bottom: 1px solid $color__danger;
    }

    .header__nav {
        height:                      50%;
        display:                    flex;
        align-items:              center;
    }

    .header__link {
        padding:              10px 0 0 0;
        text-decoration:            none;
        border-bottom:    1px solid $color__success;
        color:                      $color__success;
        margin:               0 25px 0 0;
        white-space:              nowrap;

        &.header__link:hover {
            color:        $color__danger;
            border-bottom:          none;
        }
    
        &.header__nav-link_active {
            color:        $color__danger;
            border-bottom:          none;
        }
    }
}

.logo {
    text-decoration:                none;

    .kupel {
        margin:              20px 40px 0;
    }
}

//
// Block Main Section
//  _____________________________________________

.row {
    min-width:                     $site__width;
    background-image: url(img/background-bar.png);
    background-size:               cover;

    .row-i {
        @extend .wrap;
        padding-top:                40px;
        .col1 {

            .menu {
                width:                         220px;
                border-radius:                   5px;
                background:                  #FBFBFB;
                margin:                  0 10px 40px;
            }
        
            .menu__list {
                text-align:                   center;
            }
        
            .menu__item {
                list-style-type:                none;
            }
        
            .menu__link {
                text-decoration:                none;
                color:                $color__danger;
                font-size:             $font-size__l;
                font-weight:                    bold;
                display:                       block;
                padding:                      18px 0;
                border-radius:           5px 5px 0 0;
                border-bottom:     1px solid #EDE4DB;
        
                &:hover {
                    background: linear-gradient(to top, #FFE5E1, #FFF);
                    color: $color__dangerous;
                }
        
                &.menu__link_active {
                    background: linear-gradient(to top, #FFE5E1, #FFF);
                    color:                      $color__dangerous;
                }
            }
        
            .menu__search {
                border:           1px solid #FA624D;
                text-decoration:               none;
                color:                      #FDBBB4;
                padding:             5px 0 5px 25px;
                border-radius:                 20px;
                margin:                      20px 0;
                text-align:                    left;
                font-size:         $font-size__base;
                background-image: url(img/search.png);
                background-repeat:        no-repeat;
                background-position:            4px;
                outline:                       none;
            }
        }
        
    }
}

.col2 {
    margin:     0 10px;
    width:     540px;
    display:     flex;
    align-items:     flex-start;
    flex-wrap:     wrap;
    justify-content:     space-between;
    
    .product {
        background:         #fff;
        text-align:         center;
        padding-top:         10px;
        border-radius:         5px 5px;
        margin:     0 0px;
        width:     170px;
    
        .product__helper {
            
        }
    
        .product__barell {
            margin-bottom:     10px;
        }
    
        .product__price {
            color:                $color__danger;
            font-weight:     bold;
            display:     inline-block;
            margin-bottom:     15px;
            font-size:     $font-size__xxl;
        }
    
        .product__acquisition {
            background:         $color__success;
            border-radius:       0 0 5px 5px;
            min-height:     135px;
            display:     flex;
            flex-direction:     column;
            justify-content:     space-between;
        }
    
        .product__description {
            color:     $color__default;
            font-size:     $font-size__l;
            margin:     20px 10px 0;
            white-space:     nowrap;
            overflow:     hidden;
        }
    
        .product__wrap-bottom {
            
        }
    
        .product__bottom {
            display:     inline-block;
            text-decoration:     none;
            background:     $color__warning;
            color:     $color__default;
            padding:     10px 25px;
            border-radius:     10px;
            border:     1px solid #B94E01;
            font-weight:     bold;
            text-transform:     uppercase;
            white-space:     nowrap;
            margin:     0 0 10px 0;
            font-size:     $font-size__m;
    
            &.product__bottom:hover {
                color:     $color__default;
                background:     #EB922B;
                }
            }
        }
        
.galerei {
        margin: 25px 0;

    .kupel {
        width:     520px;
        height:     270px;
        border: 10px solid rgba(0,0,0,0.5);
        }
    }

}
 
.col3 {
    
    .basked {
        
        .basked__name {
            background: #ff4d4d;
            text-align: center;
            border-radius:     5px 5px 0 0;
        }
        .basked__title {
            color:     #fff;
            font-weight: bold;
            border-bottom: 2px double white;
        }
        .basked__img {
           
        }
        .basked__list {
            background:     white;
            border-radius:  0 0 5px 5px;
            padding:     5px;
        }
        .basked__item {
            color:     $color__danger;
            border-bottom: 1px solid red;
            margin-bottom:     5px;
        }
        .basked__total {
            color:     $color__danger;
            text-align:     center;
            border-top: 1px solid red;
        }
        .basked__wrap-bottom {
            text-align:     center;
            
        }
        .basked__bottom {
            display:     inline-block;
            text-decoration:     none;
            background:     $color__warning;
            color:     $color__default;
            padding:     10px 25px;
            border-radius:     10px;
            border:     1px solid #B94E01;
            font-weight:     bold;
            text-transform:     uppercase;
            white-space:     nowrap;
            margin:     0 0 10px 0;
            font-size:     $font-size__m;
        }
    }
}











//
// Block Main Footer
//  _____________________________________________

.footer {
    background-image: url(img/background-footer.png);
    background-repeat:          repeat-x;
    min-width:                     $site__width;

    .footer-i {
        @extend .wrap;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .footer__payment {
        margin:         20px 80px 0 10px;
        white-space:             nowrap;
        font-size:     $font-size__base;
        line-height:     $line-height__xxl;
        color:         $color__danger;
    }
    
    .footer__title-payment {
        font-weight:         bold;
        font-size:     $font-size__base;
    }

    .footer__requisites {
        margin:         20px 80px 0 5px;
        white-space:             nowrap;
        font-size:     $font-size__s;
        line-height:     $line-height__xxl;
        color:         $color__danger;
    }

    .footer__title-requisites {
        font-weight:         bold;
        font-size:     $font-size__base;
    }

    .footer__contact {
        margin:         25px 0 70px;
    }

    .footer__phone-link {
        text-decoration:         none;
        font-size:     $font-size__base;
        line-height:     $line-height__xxl;
        color:         $color__danger;
        font-weight:         bold;
        
    }

    .footer__mail-link {
        text-decoration:         none;
        font-size:     $font-size__base;
        color:         $color__danger;
        
    }

    .footer__development {
        width:     100%;
        text-align:     right;
        margin:     0 0 20px 0;
        color:     $color__danger;
    }

    .footer__designation {
        font-weight:     bold;
        color:     $color__danger;
        border-bottom:     1px solid $color__danger;
    }
}

